<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,259},{64,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,720}}</string>
                <key>sourceSize</key>
                <string>{64,720}</string>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>car.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,142},{194,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{194,85}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>clock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,64},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>clock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,64},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>clock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,64},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>clock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,64},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dnarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,142},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>dnarrowon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,142},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>dount01.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,64},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dount02.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,64},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dount03.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,64},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dount04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,64},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dsBuffer.bmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,142},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,91}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>frame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{79,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,64}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>frame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,64},{79,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,64}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>frame03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,64},{79,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,64}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>frame04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,64},{79,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,64}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>leftarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,142},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>leftarrowon.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,142},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>orange01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,64},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>orange02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,64},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>orange03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,64},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>orange04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,64},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>orange05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,64},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>rect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,64},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>rect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,64},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>rect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,64},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>rect04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,64},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rightarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,142},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>rightarrowon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,142},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>rope01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>rope02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>rope03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>rope04.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>rope05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>rope06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>rope07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>rope08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>rope09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>rope10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>seesaw(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,259},{1890,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1890,462}}</string>
                <key>sourceSize</key>
                <string>{1890,462}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>square01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>square02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>square03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>square04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>square05.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>square06.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>triangle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{122,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{122,82}</string>
            </dict>
            <key>triangle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,142},{122,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{122,82}</string>
            </dict>
            <key>triangle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,142},{122,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{122,82}</string>
            </dict>
            <key>triangle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,142},{122,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{122,82}</string>
            </dict>
            <key>uparrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,142},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>uparrowon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,142},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>wall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{404,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,8}}</string>
                <key>sourceSize</key>
                <string>{404,8}</string>
            </dict>
            <key>wall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{404,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,8}}</string>
                <key>sourceSize</key>
                <string>{404,8}</string>
            </dict>
            <key>wall03.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{404,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,8}}</string>
                <key>sourceSize</key>
                <string>{404,8}</string>
            </dict>
            <key>wall04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,0},{404,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,8}}</string>
                <key>sourceSize</key>
                <string>{404,8}</string>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box2d.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b082f8a3bae567382c365e05cd6db9:007bb12adfe100a4e28fc1a1795f00a4:a12050b34ee6aac8c50c100ef54a40c7$</string>
            <key>textureFileName</key>
            <string>box2d.png</string>
        </dict>
    </dict>
</plist>
